<article id="intro">
    <h2 class="major">Intro</h2>
    
    <p>
        Software Developer currently working with PHP & C#.NET.
    </p>
    <p>
        In my carrer life had the opportunity to learn new technologies and work in multicultural developer teams both in Chile as in Brazil. In my freetime I usually study new languages and how to improve development enviroments to make it safer and faster.
    </p>
    <p>
        <b>.NET</b><br />
        C#.NET, SQL, XML, WebForms, MVC 5, Visual Studo Team Services, Entity Framework.
    </p>
    <p>
        <b>PHP 5</b><br />
        MySQL, Composer, Laravel Framework, Code Igniter Framework, Kohana Framework.
    </p>
    <p>
        <b>Others</b><br />
        HTML 5, CSS, Bootstrap, Javascript, Ajax, JQuery, GIT, SVN, AWS Amazon EC2
    </p>
    <p>
        <b>DevOps</b><br />
        Jenkins, ANT, JUnit
    </p>
</article>

<!--<ul class="user-info">
    <li>{{first}} {{last}}</li>
    <li>{{age}}</li>
    <li><a href="{{site}}">{{site}}</a></li>
</ul>-->  